@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Martel Sans Bold'), local('MartelSans-Bold'), url(me85aKKx_SCWF59ImQJ_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}
